footer ul {
  list-style: none;
  padding-left: 0;
}

footer {
  background-color: rgb(7, 7, 7);
  color: #bbb;
  line-height: 1.5;
  color: #fff;
  font-family: ’Merriweather’, serif;
  font-size: 1.375rem;
  padding-bottom: 0.625rem;
}


.ft-main {
  padding: 1.25rem 1.875rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.ft-main .policy {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ft-main .contact {
  align-self: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
}

.ft-main .contact p {
  align-self: center;
  background-color: blue;
  border-radius: 8px;
  text-align: center;
}

/* for larger screen */

@media only screen and (min-width: 29.8125rem

  /*477px*/
) {
  .ft-main {
    justify-content: space-around;
  }
}

@media only screen and (min-width: 77.5rem

  /*1240px*/
) {
  .ft-main {
    justify-content: space-evenly;
  }
}


/* line up the legal footer */

.ft-legal {
  padding: 0.9375rem 1.875rem;
  background-color: rgba(100, 0, 0, 0.027);
  align-self: center;
  text-align: center;
}

.ft-legal-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.ft-legal-list li {
  margin: 0.125rem 0.625rem;
  white-space: nowrap;
}

/* one before the last child */
.ft-legal-list li:nth-last-child(2) {
  flex: 1;
  /* same as flex-grow: 1; */
}